@media print {

    h1 {
        display:none;
    }

    p {
        display:none;
    }

    body {
        width: 40%;
        font-size: 10px;
        color: black;
    }

    table {
        font-size: 90%;
        
    }

}

@page {
    size: landscape;
}
